<h1>Specific Category Page</h1>
<h1>List of all the available Post for this category</h1>
<ul>
  <li>
    <a href="/books/comething">books/comething </a>
  </li>
  <li>

    <a href="/tech/what">tech/what </a>
  </li>
  <li>

    <a href="/tutorials/heh">tutorials/heh</a>
  </li>
</ul>
<a href="..">back</a>