<main id="main-contents">
    {{> sidebarcontainer}}
    <section class="post-section">
        <p id="page-query-title">{{pageTitle}}</p>
        <ul id="featured-posts">

        </ul>
    </section>
</main>