:root {
  --background-color: #1d1d1d;
  --accent: #f8fae5;
  --accent1: #cecdfa;
  --primary: #43766c;
  --primary-selection: #43766c60;
  --text-color: #ffffff;
  --border-colors: #373737;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100dvh;
}

nav {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px;
  align-items: center;
  #logo-container {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

header {
  display: flex;
  align-items: center;
  height: 14em;
  border-bottom: 3px;
}

.blog-post-item,
nav,
header {
  border-bottom: var(--border-colors) solid;
}

#layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner-layout-container {
  max-width: 80%;
  min-width: 80%;
  & > :last-child {
    margin-top: 2em;
  }
}

#main-contents {
  display: flex;
  height: 400px;
  gap: 1em;
  #post-section {
    flex: 1;
    outline: 1px solid red;
  }
}

#sidebar {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 20%;
  height: 300px;
  p {
    display: inline-block;
  }
}
.sidebar-contents-container {
  width: 90%;
}
.sidebar-contents-container > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li > a {
    padding: 0.6em 1em;
    display: block;
    width: 100%;
  }
  li {
    border-left: 3px solid transparent;
  }
  li:hover {
    border-left: 3px solid var(--primary);
  }
}
.selected-link {
  background-color: var(--primary-selection);
  border-left: 4px solid var(--primary) !important;
  a {
    padding: 1em 1em !important;
    color: var(--accent);
    font-weight: 700;
  }
}
.sidebar-contents-container {
  display: block;
  position: relative;
  height: fit-content;
}
.sidebar-contents-container::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ffffff60;
}

.header-contents-container {
  h1 {
    line-height: 1.2em;
    color: var(--accent);
    font-weight: 600;
  }
}
#header-regular-container {
  h1 {
    max-width: 30em;
    font-size: clamp(1.4rem, 1vw + 1rem, 2.4rem);
  }
}

#header-post-container {
  h1 {
    font-size: 5rem;
  }
}

#post-section {
  font-weight: 300;
}
.post-contents {
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
}
