:root {
  --background-color: #1d1d1d;
  --accent: #f8fae5;
  --accent1: #cecdfa;
  --primary: #43766c;
  --priamry-selection: #43766c38;
  --text-color: #ffffff;
  --border-colors: #373737;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100dvh;
}

nav {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px;
  align-items: center;
  #logo-container {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

header {
  display: flex;
  align-items: center;
  height: 14em;
  border-bottom: 3px;
}

.blog-post-item,
nav,
header {
  border-bottom: var(--border-colors) solid;
}

#layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner-layout-container {
  max-width: 80%;
  min-width: 80%;
}

#main-contents {
  display: flex;
  height: 400px;
  gap: 1em;
  #post-section {
    flex: 1;
    outline: 1px solid red;
  }
}

#sidebar {
  width: 20%;
  outline: 1px solid red;
  p {
    display: inline-block;
  }
}

.header-contents-container {
  h1 {
    line-height: 1.2em;
    color: var(--accent);
    font-weight: 600;
  }
}
#header-regular-container {
  h1 {
    max-width: 30em;
    font-size: clamp(1.4rem, 1vw + 1rem, 2.4rem);
  }
}

#header-post-container {
  h1 {
    font-size: 5rem;
  }
}

#post-section {
  font-weight: 300;
}
.post-contents {
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
}
