<header>
  {{#if data}}
    <span id="header-post-container" class="header-contents-container">
      <h1>
        {{data.headerContents.title}}
      </h1>
      {{data.headerContents.author}}
      {{data.headerContents.category.name}}
    </span>
  {{else}}
    <span id="header-regular-container" class="header-contents-container">
      <h1>
        A place where I talk about programming, computer systems, tutorials for
        various things in programming and reviews on my favorite books.
      </h1>
    </span>
  {{/if}}
</header>