{{! pass data from javascript }}
<span>
  <p>Table of contents</p>
</span>
<div id="table-contents-container" class="sidebar-contents-container">

  <ul>
    <li><a href="/">What is a bit?</a></li>
    <li><a href="/tutorials">How can they represent data</a></li>
    <li><a href="/computer-systems">Binary</a></li>
    <li><a href="/books">Conclusion</a></li>
  </ul>
</div>