{{! pass data from javascript }}
<div id="sidebar">
  <p>Table of contents</p>
  <ul class="table-contents-container">
    <li><a href="/">What is a bit?</a></li>
    <li><a href="/tutorials">How can they represent data</a></li>
    <li><a href="/computer-systems">Binary</a></li>
    <li><a href="/books">Conclusion</a></li>
  </ul>
</div>