<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Fzaid blog</title>
    <script defer="true" src="/javascript/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/cssreset.css"></link>
    <link rel="stylesheet" href="/stylesheets/index.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown.min.css">
    <link rel="stylesheet" href="/stylesheets/markdown.css"></link>
  </head>
  <body>
    {{> navbar}}

   <div id="layout-container">
     <div id="inner-layout-container">
      {{> header}}
      {{{body}}}
     </div>
   </div>

  </body>
</html>